{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Somali Gospel Tv{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="logo">
            <img src="{% static 'img/SGTV logo.jpg' %}" alt="Logo">
            <span>Somali Gospel</span>
        </div>
        <ul class="nav-links">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="#discover">Discover</a></li>
            <li><a href="{% url 'prayer_request' %}">Prayer</a></li>
            <li><a href="{% url 'news' %}">news</a></li>
            <li><a href="{% url 'gallery' %}">Resources</a></li>
            <li><a href="https://www.wordproject.org/bibles/so/" target="_blank">Audio bible</a></li>
            <li><a href="{% url 'register' %}" class="btn-register">Register</a></li>
        </ul>
    </nav>
    
    <!-- Main Content -->
    {% block content %}
    {% endblock %}
    
    <!-- Footer -->
    
</body>
</html>
